.login_container {
	background-color: var(--primary-light);
	margin: 0 auto;
	padding: 3rem;
	width: 25rem;
	text-align: left;
}

.login__heading {
	text-align: center;
}

.login__form_label,
.login__form_input {
	display: block;
	color: var(--primary-color);
}

.login__form_label {
	font-size: 1.5rem;
	font-family: var(--cursive);
	margin-top: 1rem;
	margin-bottom: -0.5rem;
}

.login__form_label:last-of-type {
	font-family: var(--sans-serif);
	font-size: 1rem;
}

.login__form_input {
	width: 100%;
	height: 1.5rem;
	border: 1px solid var(--primary-color);
	border-radius: var(--border-radius);
}

.form__buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
}

.login_btn {
	text-transform: uppercase;
	font-weight: var(--bold);
}

.register_link {
	max-width: 50%;
	color: var(--primary-color);
	text-decoration: underline;
}

.register_link:hover {
	color: var(--primary-dark);
}

@media screen and (max-width: 520px) {
	.login_container {
		width: 15rem;
	}
}
