.side__nav {
	width: 20rem;
	text-align: left;
}

.side__nav_item {
	list-style: none;
	margin-bottom: 1rem;
	margin-left: 3rem;
	font-size: 1.3rem;
}

.side__nav_item1 {
	list-style: none;
	margin-bottom: 1rem;
	margin-left: 1rem;
	font-size: 1.7rem;
	color: var(--primary-color);
}

.side__nav_link {
	color: var(--primary-color);
}

.side__nav_link:hover,
.side__nav_link_active,
.side__nav_link_pending {
	color: var(--primary-dark);
	font-weight: 600;
	transition: 0.1s;
}

@media screen and (max-width: 10600px) {
	.side__nav {
		width: 15rem;
	}
}
